@use "~/styles/TaskCard/mixins";
@use "~/styles/mixins" as globalMixins;

.card {
  @include mixins.card;
}

.cardDragging {
  @include mixins.card;
  opacity: 0.5;
}

.cardOverlay {
  @include mixins.card;
  cursor: grabbing;
}

.completeTask {
  background:
    repeating-linear-gradient(
      45deg,
      transparent 1px,
      transparent 15px,
      #ffffff48 17px
    ),
    #101204;
  text-decoration: line-through;
  text-decoration-color: white;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px;
}

.descriptionContainer {
  width: 100%;
  padding: 4px;
}

.title {
  @include mixins.text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
}

.description {
  @include mixins.text;
  background-color: #242528;
  padding: 10px;
  &:hover {
    box-shadow: 0 0 0 4px #9cb8ff;
    transition: box-shadow 0.5s ease-in-out;
  }
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.deleteCard {
  display: flex;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #cecfd2;

  @include globalMixins.iconHoverEffect;
}
