@mixin text {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 12px;
  font-size: 16px;
  color: #cecfd2;
  cursor: pointer;
  overflow-wrap: anywhere;
  white-space: normal;
}

@mixin card {
  display: flex;
  flex-direction: column;
  width: 272px;
  padding: 6px;
  border-radius: 12px;
  background-color: #101204;
  box-shadow:
    0 0 0 1px #0000,
    0 1px 1px #01040480,
    0 0 1px #01040480;
}
