.share {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  gap: 10px;

  &:hover {
    border-radius: 2px;
    background-color: #7c6ca9;
    box-shadow: 0 0 0 8px #7c6ca9;
    transition: box-shadow 0.2s ease;
  }
}

.shareHash {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  max-height: 5px;
  padding-top: 17px;
  font-size: 24px;
}

.shareHashLink {
  width: 80%;
  margin-top: 19px;
  font-size: 14px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
